.courseCard {
    border: limegreen 1px solid;
    padding: 1em;
    margin: 2em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-column-gap: 8em;
    grid-row-gap: 0.1em;
}

.hideText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.firstColumn {
    grid-column: 1;
}

.secondColumn {
    grid-column: 2;
}

.firstRow {
    grid-row: 1;
}

.secondRow {
    grid-row: 2;
}

.thirdRow {
    grid-row: 3;
}

.fourthRow {
    grid-row: 4;
}

.secondToFourthRow {
    grid-row: 2 / 4;
}

#showCourse {
    grid-row: 4;
    grid-column: 2;
    width: 10em;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 600px) {
    .courseCard {
        border: limegreen 1px solid;
        padding: 1em;
        margin: 2em;
        display: flex;
        flex-direction: column;
    }
}
