.courses {
    border: mediumslateblue 1px solid;
    padding-bottom: 10em;
}

.rowWithSearch {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3em;
}

#addCourse {
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    .rowWithSearch {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 6em;
    }

    #addCourse {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
    }
}
