.createCourse {
    border: mediumslateblue 1px solid;
    padding-bottom: 10em;
}

.rowWithTitle {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5em;
    flex-direction: row-reverse;
}

#createCourse {
    margin-left: auto;
}

textarea{
    display: block;
    margin-top: -14px;
}

.descriptionDiv {
    padding-left: 1em;
    margin-top: -1em;
}

.authorsDuration {
    border: black 1px solid;
    padding: 1em;
    margin: 1em;
}

.oneRow {
    display: flex;
    align-items: start;
    justify-content: flex-start;
}

.authors {
    margin-left: auto;
    margin-right: 10em;
}

.aTitle {
    text-align: center;
}

#createAuthor {
    margin-top: 1em;
    margin-left: 30%;
}

.authorInList {
    display: flex;
    align-items: start;
    justify-content: flex-start;
}

#addAuthor {
    margin-left: auto;
}

#deleteAuthor {
    margin-left: auto;
}

.mRight {
    margin-right: 6em;
}

.durationLine {
    font-size: 1.5em;
}

@media screen and (max-width: 650px) {
    .rowWithTitle {
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 7em;
    }

    #createCourse {
        margin-left: auto;
        margin-right: auto;
    }

    .oneRow {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
    }

    .authors, .leftDiv {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 650px) and (max-width: 850px) {
    .mRight {
        margin-right: 2em;
    }

    .authors {
        margin-left: auto;
        margin-right: 2em;
    }
}
