#searchButton {
    margin-left: 2em;
}

#searchText {
    margin-top: 0;
}

.searchBar {
    display: flex;
}

@media screen and (max-width: 600px) {
    #searchButton {
        margin-left: 2em;
    }
}
